.calculateBMIBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.calculateBMITitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}

.calculateBMISubTitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}
